{{ define "main" }}
<section class="blog-layout">
  <article class="blog-content">
    <header class="blog-header">
      <div class="">
        Wriiten by {{ range .Params.authors }}
        <a href="/authors/{{. | urlize}}"><span class=""> {{.}} </span></a>
        {{ end }}
      </div>
      <div class="">
        published on {{ .PublishDate| time.Format ":date_medium" }}
      </div>
      {{ range .Params.categories }}
      <a href="/categories/{{ . | urlize }}">
        <p class="post-category">{{.}}</p>
      </a>
      {{end}}
    </header>
    {{ .Content }}
  </article>

  <aside class="blog-toc-mobile">
    <details>
      <summary>table of content</summary>
      {{ .TableOfContents }}
    </details>
  </aside>
</section>

{{ with site.RegularPages.Related . | first 5 }}
<section class="related-posts">
  <h4>related posts</h4>
  {{ range . }}
  <a href="{{.RelPermalink}}">
    <p class="related-post-title">{{.LinkTitle}}</p>
  </a>
  {{ end }}
</section>
{{ end }} {{ end }}
